:root {
    --clrBg: #FFFEF8;
}

*::selection{
    background-color: #000000 !important;
    color: white !important;
}

::-webkit-scrollbar {
    /* display: none !important; */
    width: 0.5vw;

}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px !important;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

@media (max-width: 639px) {
    nav {
        backdrop-filter: blur(5px);
    }
}

.page1 {
    transform-origin: top;
}


.page2 {
    transform-origin: top;
}

.page2down .page2downImg img {
    transition: all 0.4s ease;
}

.page2down .page2downImg img:hover {
    z-index: 5;
    transform: scale(1.2);
}


.weddingContainer,
.eventContainer,
.preWeddingContainer {
    columns: 6;
    column-gap: 1.5vw;
    margin: 0px auto;
}

.box {
    width: 100%;
    margin-bottom: 3vh;
    overflow: hidden;
    border-radius: 15px;
}

.box img {
    border-radius: 15px;
    max-width: 100%;
    transition: all 0.3s ease;
}


.page3container .secLink img {
    transition: all 0.6s ease;
}



.secLink:hover h1 {
    transform: scale(1.2);
    opacity: 1;
}

.overlay .swiper {
    width: 90%;
    height: 100%
}

.overlay .swiper-slide {
    overflow: hidden;
}

.overlay .swiper-slide img {
    display: block;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
}

.overlay {
    backdrop-filter: blur(15px);
}

.swiperContainer .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiperContainer .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: fit-content;
}

.swiperContainer .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

/* .navmenu{
    transition: all 0.5s;
} */
.menu {
    backdrop-filter: blur(9px);
}

@media (max-width:639px) {

    .weddingContainer,
    .eventContainer,
    .preWeddingContainer {
        columns: 3;
        column-gap: 1.5vw;
        margin: 0px auto;
    }

    .overlay .swiper-slide img {
        height: auto;
        width: 90%;
    }

    .overlay .swiper {
        width: 100%;
        height: 90%;
    }

    .box {
        margin-bottom: 1vh;
    }
}


.serviceContainer img {
    border-radius: 7px;
}

.page6{
    backdrop-filter: blur(7px);
}


.curOutline{
    --circle-size: 45px;
    position: fixed;
    z-index: 990;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }