::-webkit-scrollbar {
    width: 0.2vw;

}

::-webkit-scrollbar-thumb {
    background-color: #fb923c;
    border-radius: 10px !important;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

.curOutline{
    --circle-size: 45px;
    position: fixed;
    z-index: 990;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid #ffffff;
    border-radius: 50%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }

.page1 .left .image{
    --circle-size: 240px;
    position: absolute;
    z-index: 3;
    height: var(--circle-size);
    width: var(--circle-size);
    /* border: 1px solid #ffffff; */
    border-radius: 50%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
}

.Gshow{
    transition-delay: 0.2s;
}

  .Gshow::before{
    position: absolute;
    top: 105%;
    left: 0;
    z-index: -1;
    content: "";
    height: 200%;
    width: 100%;
    background-color:#fb923c;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: all 0.6s ease;
    /* transition: color 1s ease; */
    
}
.Gshow:hover{
    border-color: #fb923c;
}
.Gshow:hover:before{
    top: -50%;
}


  .page1{
    transform-origin:center 80%;
}

.social a{
    transition:all 0.4s ease;
}

.social a:hover{
    color: #fb923c;
}

a{
    cursor: none;
}

.page1 .right h1{
    overflow: hidden;
}
.sendBtn{
    transition: all 0.3s ease;
}

.sendBtn:hover{
    border-color: #fb923c;
    background-color: #fb923c;
    color: black;
    font-weight: 600;
}
